{{!< login}}

{{#contentFor "body"}}
  <form action="/login" method="post">
  Username : 
  <input name="name"><br><br>
  Password :
  <input name="password" type="password"><br><br>

  <button type="submit">Login</button>
  </form>
{{/contentFor}}